// Сохраняй порядок (иерархию) добавления import. У меня тут стоял интерфейс выше чем fonts
// И компилятор считывал mixin раньше чем видел fonts и писал undefined
// Наши цвета
$gruy: #6b6b6b
$blue: #507fe1  
$primary: #507fe1
// Базовые настройки сетки
@import 'grid'
// Настройка шрифтов
@import 'fonts'
// Настройки интерфейса
@import 'interface'
// ЭЭЭ
@import 'blocks/hero'
// Шапка сайта
@import 'blocks/navbar'







